# ROUND 2

In [ ]:
import pandas as pd


#Read file into python as dataframes
file1=pd.read_csv('marketing_customer_analysis.csv') 
display(file1)
print(file1.shape)

In [ ]:
#Standardize the headers name 
cols = []
for column in file1.columns:
    cols.append(column.lower())
cols
file1.columns = cols
display(file1)

In [ ]:
numerical_cols = file1.select_dtypes(include=['float', 'int']).columns.tolist()

In [ ]:
print(numerical_cols)

In [ ]:
categorical_cols = file1.select_dtypes(include=['object']).columns.tolist

In [ ]:
print(categorical_cols)

In [ ]:
import pandas as pd

nulls_df = pd.DataFrame(round(file1.isna().sum()/len(file1),4)*100)
nulls_df
nulls_df = nulls_df.reset_index()
nulls_df
nulls_df.columns = ['header_name', 'percent_nulls']
display(nulls_df)

In [ ]:
# Identify columns with more than 1% of NaNs

In [ ]:
columns_drop = nulls_df[nulls_df['percent_nulls']>1]['header_name']  
print(columns_drop.values)

In [ ]:
file1 = pd.read_csv('marketing_customer_analysis.csv')

# Count the number of NaN values in each column of the DataFrame
nan_count = file1.isna().sum()

# Print the resulting counts
print(nan_count)

In [ ]:
#Find the most frequently used value in column

frequent_state = file1['State'].value_counts()
print(frequent_state)

# Replace NaN values in the 'State' column with 'California'
file1['State'].fillna('California', inplace=True)

# Print the updated DataFrame to verify the changes
display(file1)

In [ ]:
#Find the most frequently used value in column

frequent_response = file1['Response'].value_counts()
print(frequent_response)

# Replace NaN values in the 'Response' column with 'No'
file1['Response'].fillna('No', inplace=True)

# Print the updated DataFrame to verify the changes
display(file1)

In [ ]:
#Find the most frequently used value in column

frequent_Number_of_Open_Complaints = file1['Number of Open Complaints'].value_counts()
print(frequent_Number_of_Open_Complaints)


# Replace NaN values in the 'Number of Open Complaints' column with '0'
file1['Number of Open Complaints'].fillna('0', inplace=True)

# Print the updated DataFrame to verify the changes
display(file1)

In [ ]:
#Find the most frequently used value in column

frequent_Vehicle_Class = file1['Vehicle Class'].value_counts()
print(frequent_Vehicle_Class)


# Replace NaN values in the 'Vehicle Class' column with 'Four Door Car'
file1['Vehicle Class'].fillna('Four Door Car', inplace=True)

# Print the updated DataFrame to verify the changes
display(file1)

In [ ]:
#Find the most frequently used value in column

frequent_Vehicle_Type = file1['Vehicle Type'].value_counts()
print(frequent_Vehicle_Type)



# Replace NaN values in the 'Vehicle Type' column with 'A'
file1['Vehicle Type'].fillna('A', inplace=True)

# Print the updated DataFrame to verify the changes
display(file1)

In [ ]:
#Find the most frequently used value in column

frequent_Vehicle_Size = file1['Vehicle Size'].value_counts()
print(frequent_Vehicle_Size)


# Replace NaN values in the 'Vehicle Size' column with 'Medsize'
file1['Vehicle Size'].fillna('Medsize', inplace=True)

# Print the updated DataFrame to verify the changes
display(file1)

In [ ]:
#Find the most frequently used value in column

frequent_Months_Since_Last_Claim = file1['Months Since Last Claim'].value_counts()
print(frequent_Months_Since_Last_Claim)


# Replace NaN values in the 'Months Since Last Claim' column with '3.0'
file1['Months Since Last Claim'].fillna('3.0', inplace=True)

# Print the updated DataFrame to verify the changes
display(file1)

In [ ]:
nulls_df = pd.DataFrame(round(file1.isna().sum()/len(file1),4)*100)
nulls_df
nulls_df = nulls_df.reset_index()
nulls_df
nulls_df.columns = ['header_name', 'percent_nulls']
nulls_df

In [ ]:
file1['Month'] = pd.DatetimeIndex(file1['Effective To Date']).month
file1
file1['Month'] = pd.to_datetime(file1['Effective To Date'], format='%m/%d/%y').dt.strftime('%B')
display(file1)

#we can do also like this
#file1['effective to dates'] = pd.to_datetime(file1['effective to date'])
#file1['Month'] = file1['effective to dates'].dt.month

In [ ]:
file1_filtered = file1[file1['Month'].isin(['January', 'February', 'March'])]
display(file1_filtered)

In [ ]:
file1.to_csv('cleaned_filled.csv', index=False)

In [ ]:
#Bonus 
#file1=pd.read_csv('marketing_customer_analysis.csv')

In [ ]:
X

In [ ]:
data1=clean_data(file1)

# ROUND 3

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
#Read file into python as dataframes

data=pd.read_csv('marketing_customer_analysis.csv') 
display(data)
print(data.shape)

In [ ]:
#we have to print the data infos
print(data.info())

In [ ]:
# We describe the dataframe 
data.dtypes

display(data.describe(include='all').T)

In [ ]:
#Show a plot of the total number of responses

sns.countplot(data=data, x='Response', order=['Yes', 'No'])

In [ ]:
sns.countplot(data=data, x='Sales Channel', hue='Response')
plt.title('Response Rate by Sales Channel')
plt.xlabel('Sales Channel')
plt.ylabel('Count')
plt.show()

In [ ]:
# Convert 'Response' column to numerical values
data['Response_numeric'] = data['Response'].apply(lambda x: 1 if x=='Yes' else 0)

# Create plot
sns.displot(data=data, x='Total Claim Amount', hue='Response', kde=True, multiple='stack', bins=20)
plt.title('Response Rate by Total Claim Amount')
plt.xlabel('Total Claim Amount')
plt.ylabel('Count')
plt.show()